@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  color: white;
  user-select: none;
}

button {
  outline: none;
}

/* HTML & BODY */

html,
body {
  background-color: #000000;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  overflow: hidden;
  overflow-y: hidden !important; /* Hide vertical scrollbar */
  overflow-x: hidden !important; /* Hide horizontal scrollbar */

  animation: fadeIn 0.2s;
}

body.game-over div.game-over-wrapper {
  display: flex;
}

body.game-over .banana {
  display: none;
}

body.game-over div#mainframe {
  display: none;
}

/* SPACE ALERT */

div.space-alert {
  width: 100vw;

  position: absolute;
  top: 10%;

  text-align: center;

  z-index: 999;
}

div.space-alert h1 {
  font-size: 3rem;
}

/* MONKEY */

.monkey {
  background-image: url(../assets/game/monkey.gif);
  background-size: cover;
  width: 120px;
  height: 120px;
  /* background-color: cadetblue; */
  position: absolute;
  bottom: 27%;

  margin-left: 2vh;
}

/* BANANA */

.banana {
  background-image: url(../assets/game/banana.gif);
  background-size: cover;
  position: absolute;
  width: 70px;
  height: 70px;
  /* background-color: green; */
  bottom: 30%;
}

/* GAME-OVER SCREEN */

div.game-over-wrapper {
  display: none;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  position: absolute;
  background-color: #000000;
}

div.game-over-wrapper h1 {
  color: red;
  font-size: 3rem;
}

div.game-over-wrapper p {
  font-size: 1.2rem;
}

div.game-over-wrapper span#score {
  color: yellow;
}

div.game-over-wrapper button {
  width: fit-content;
}

/* ANIMATIONS */

@keyframes slideRight1 {
  from {
    background-position: 40000%;
  }
  to {
    background-position: 0;
  }
}

@keyframes slideRight2 {
  from {
    background-position: 60000%;
  }
  to {
    background-position: 0;
  }
}

@keyframes slideRight3 {
  from {
    background-position: 80000%;
  }
  to {
    background-position: 0;
  }
}

@keyframes slideRight4 {
  from {
    background-position: 100000%;
  }
  to {
    background-position: 0;
  }
}

@keyframes slideRight5 {
  from {
    background-position: 130000%;
  }
  to {
    background-position: 0;
  }
}

@keyframes slideRight6 {
  from {
    background-position: 150000%;
  }
  to {
    background-position: 0;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 70vh;

  background-attachment: fixed;
  background-image: url("../assets/game/background.jpg");
  animation: slideRight1 600s infinite linear;
  background-repeat: repeat-x;

  background-color: #000000;
  border-bottom: 0.2vh solid white;
}

.background.level-2 {
  animation: slideRight2 600s infinite linear;
}

.background.level-3 {
  animation: slideRight3 500s infinite linear;
}

.background.level-4 {
  animation: slideRight4 500s infinite linear;
}

.background.level-5 {
  animation: slideRight5 500s infinite linear;
}

.background.level-6 {
  animation: slideRight6 500s infinite linear;
}

.background.level-7 {
  animation: slideRight6 500s infinite linear;
}

.background.level-8 {
  animation: slideRight6 500s infinite linear;
}

div.scores {
  position: absolute;

  right: 0;
  margin: 3vh;
  z-index: 999;
}

div.scores p {
  font-size: 1.3rem;
}
